
/* Import font da Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Font Family & Weight */
$font-family: 'Poppins', sans-serif;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;

/* Palette Colori */
$color-white: hsl(252, 30%, 100%);
$color-light: hsl(252, 30%, 95%);
$color-gray: hsl(252, 15%, 65%);
$color-primary: hsl(252, 75%, 60%);
$color-secondary: hsl(252, 100%, 90%);
$color-success: hsl(120, 95%, 65%);
$color-danger: hsl(0, 95%, 65%);
$color-dark: hsl(252, 30%, 17%);
$color-black: hsl(252, 30%, 10%);

/* Dimensioni (Width/Heigt) principali */
$container: 80%;

/* Bordi e padding */
$border-radius: 2rem;
$card-border-radius: 1rem;
$btn-padding: 0.6rem 2rem;
$search-padding: 0.6rem 1rem;
$card-padding: 1rem;

:root {
    /* Position Sticky Rules */
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}


/* Modal Width & Height */
$modal-width: 100vw;
$modal-heigth:100vh;

/* Themes */
$first-theme: hsl(252, 75%, 60%);
$second-theme: hsl(52, 75%, 60%);
$third-theme: hsl(352, 75%, 60%);
$fourth-theme: hsl(152, 75%, 60%);
$fifth-theme: hsl(202, 75%, 60%);