/* Import del mio file variabili */
/* Import font da Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Font Family & Weight */
/* Palette Colori */
/* Dimensioni (Width/Heigt) principali */
/* Bordi e padding */
/* Position Sticky Rules */
/* Modal Width & Height */
/*#region Regole generali foglio di stile */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: hsl(252deg, 30%, 17%);
  background-color: hsl(252deg, 30%, 95%);
  overflow-x: hidden;
}

/* Regola fissa per il Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Regola Fissa per le immagini */
img {
  display: block;
  width: 100%;
}

/*#endregion */
/*#region Regole generali per i buttons */
/* Regola fissa per i button */
.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: hsl(252deg, 75%, 60%);
  color: hsl(252deg, 30%, 100%);
}

/*#endregion */
/*#region Regole generali per i testi */
.text-bold {
  font-weight: 500;
}

.text-muted {
  color: hsl(252deg, 15%, 65%);
}

/*#endregion */