/* Import del mio file variabili */
/* Import font da Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* Font Family & Weight */
:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  /* Position Sticky Rules */
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-white: hsl(252, 30%, 100%);
}

/* Palette Colori */
/* Dimensioni (Width/Heigt) principali */
/* Bordi e padding */
/* Modal Width & Height */
/* Themes */
/*#region Regole generali foglio di stile */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

/* Regola fissa per il Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Regola Fissa per le immagini */
img {
  display: block;
  width: 100%;
}

/*#endregion */
/*#region Regole generali per i buttons */
/* Regola fissa per i button */
.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/*#endregion */
/*#region Regole generali per i testi */
.text-bold {
  font-weight: 500;
}

.text-muted {
  color: hsl(252deg, 15%, 65%);
}

/*#endregion */