/* Import del mio file variabili */
@import '../variables.scss';

.customize-theme {
    background: rgba(255,255,255,0.5);
    width: $modal-width;
    height: $modal-heigth;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 0.9rem;
}

.customize-theme .card {
    background: $color-white;
    padding: 3rem;
    border-radius: $card-border-radius;
    width: 50%;
}